:root {
    --background-color: #4a445b;
    --background-color-less-saturated: #494454;
    --background-highlight: #7b748d;
    --background-darker-color: #3F3C47;
    --selected-color: #6E6880;
    --text-color: #f6ebff;
    --text-color-faded: #beb3c6;
    --contrast-color: #9581eb;
    --contrast-color-alt: #59526E;
  }

  body,
  html {
    font-family: Verdana, sans-serif;
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  #sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #000;
    background-color: var(--background-color-less-saturated);
    border-color: var(--contrast-color);
    border-width: 0px;
    border-right-style: solid;
    border-right-width: 4px;
  }

  .sidebar-element {
    width: 190px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    overflow-x: dot-dot-dash;
    user-select: none;
    color: var(--text-color);
  }

  .sidebar-element input {
    width: 180px;
  }

  #content-wrapper {
    margin-left: 203px;
    width: calc(100% - 203px);
    height: 100%;
    position: fixed;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: auto;
    z-index: 1;
  }

  .message-container {
    width: 100%;
    position: absolute;
    bottom: 5px;
  }

  #message {
    width: calc(100% - 15px);
    margin-left: 4px;
  }

  #login-prompt-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    backdrop-filter: blur(5px);
  }

  #login-prompt {
    width: 300px;
    height: 200px;
    background-color: var(--background-color);
    border: 5px solid var(--contrast-color);
    border-radius: 5px;
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 100px);
  }

  .login-btn {
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    position: relative;
    border-style: solid;
    border-color: var(--background-color-highlight);
    background-color: var(--contrast-color);
  }

  .login-btn:hover {
    background-color: var(--text-color);
  }

  

  .others-container {
    width: 190px;
    height: 475px;
    background-color: red;
  }


